<%= form_for @website do |f| %>
  <%= render "shared/error_messages", { object: @website } %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.fields_for :website_urls do |builder| %>
    <%= render "website_url_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add a Website Url", f, :website_urls, "btn btn-primary", "Add a new Website Url" %></p>
  <p><%= f.submit "Submit" %></p>
<% end %>
