.fields.container.add-border
  .form-group.row
    = f.label :content_path
    = f.text_field :content_path, :autofocus => true
    = f.label :data_path
    = f.text_field :data_path, :autofocus => true
    = f.label :symbol
    = f.text_field :symbol, :autofocus => true
    = f.label :data_type
    = f.text_field :data_type, :autofocus => true
    = f.label :ignore_value
    = f.text_field :ignore_value, :autofocus => true
    = link_to_remove_fields "remove", f