.fields.container.add-border
  .form-group.row
    = f.label :heading_path
    = f.text_field :heading_path, autofocus: true
    = f.label :content_path
    = f.text_field :content_path, autofocus: true
    = f.label :data_path
    = f.text_field :data_path, autofocus: true
    %br
    = f.label :header
    = f.text_field :header, autofocus: true
    = f.label :merge_cells
    = f.text_field :merge_cells, autofocus: true
    = f.label :file_name
    = f.text_field :file_name, autofocus: true
    = link_to_remove_fields "remove", f