.fields.container.add-border
  .form-group.row
    = f.label :heading_path
    = f.text_field :heading_path, autofocus: true
    = f.label :content_path
    = f.text_field :content_path, autofocus: true
    = f.label :data_path
    = f.text_field :data_path, autofocus: true
    %br
    = f.label :header_path
    = f.text_field :header_path, autofocus: true
    = f.label :folder_path
    = f.text_field :folder_path, autofocus: true
    = f.label :file_name
    = f.text_field :file_name, autofocus: true
    = f.label :sheet_name
    = f.text_field :sheet_name, autofocus: true
    = f.label :group_by_element
    = f.text_field :group_by_element, autofocus: true
    =# link_to_remove_fields "remove", f