.fields.container.add-border
  .form-group.row
    = f.label :file_name
    = f.text_field :file_name, :autofocus => true
    = link_to_remove_fields "remove", f

  = f.fields_for :webpage_element do |builder|
    = render 'webpage_element_fields', :f => builder
  = link_to_add_fields "Add webpage element", f, :webpage_element, "btn btn-default", "Add a new webpage element"