.panel.panel-default
  .panel-heading
    .row
      .pull-left.col-md-8
        Website
      .col-md-4
        .col-md-6
          Actions
        .col-md-6
          .pull-right
            = link_to 'New Website', new_website_path, class: "btn btn-info active", role: "button"
  .panel-body
    - @websites.each do |website|
      .row.well-sm
        .col-md-8
          = website.name
        .col-md-4
          %b= link_to 'Edit', edit_website_path(website)
          %b= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' }

= paginate @websites, :theme => 'twitter-bootstrap-3'
