<% title "Website" %>

<p>
  <strong>Name:</strong>
  <%=h @website.name %>
</p>

<ol>
<% for website_url in @website.website_urls %>
  <li>
    <%=h website_url.url %>
    <ul>
    <% for webpage_element in website_url.webpage_elements %>
      <li><%=h webpage_element.dom_path %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ol>

<p>
  <%= link_to "Edit", edit_website_path(@website) %> |
  <%= link_to "Destroy", @website, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", websites_path %>
</p>
