<%= form_for(@imd_aws_datum) do |f| %>
  <% if @imd_aws_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imd_aws_datum.errors.count, "error") %> prohibited this imd_aws_datum from being saved:</h2>

      <ul>
      <% @imd_aws_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :imd_state_id %><br>
    <%= f.collection_select :imd_state_id, @imd_states, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :sr_no %><br>
    <%= f.number_field :sr_no %>
  </div>
  <div class="field">
    <%= f.label :station_name %><br>
    <%= f.text_field :station_name %>
  </div>
  <div class="field">
    <%= f.label :parse_date %><br>
    <%= f.date_select :parse_date %>
  </div>
  <div class="field">
    <%= f.label :time_utc %><br>
    <%= f.time_select :time_utc, include_seconds: true %>
  </div>
  <div class="field">
    <%= f.label :latitude_n %><br>
    <%= f.text_field :latitude_n %>
  </div>
  <div class="field">
    <%= f.label :longitude_e %><br>
    <%= f.text_field :longitude_e %>
  </div>
  <div class="field">
    <%= f.label :slp_hpa %><br>
    <%= f.text_field :slp_hpa %>
  </div>
  <div class="field">
    <%= f.label :mslp_hpa %><br>
    <%= f.text_field :mslp_hpa %>
  </div>
  <div class="field">
    <%= f.label :rainfall_mm %><br>
    <%= f.text_field :rainfall_mm %>
  </div>
  <div class="field">
    <%= f.label :temperature_deg_c %><br>
    <%= f.text_field :temperature_deg_c %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
