%h1 Listing imd_aws_data
= form_tag(parse_imd_aws_data_imd_aws_data_path, method: :get) do
  .field
    %label IMD States
    = select_tag "aws_data[imd_state_code]", options_from_collection_for_select(@imd_states, :code, :name)
  .field
    %label From Date
    = render "shared/datetimepicker", { text_field_data: text_field_tag("aws_data[from_date]", Date.yesterday.strftime("%B %d, %Y")) }
    %label To Date
    = render "shared/datetimepicker", { text_field_data: text_field_tag("aws_data[to_date]", Date.today.strftime("%B %d, %Y")) }
  .actions
    = submit_tag "Get IMD AWS Data"

= paginate @imd_aws_data, :theme => 'twitter-bootstrap-3'

.wrapper1
  .div1

.scroll-div
  .panel-table
    - imd_aws_columns = ImdAwsDatum::TABLE_HEADER.keys
    - ImdAwsDatum::TABLE_HEADER.values.each_with_index do |header, index|
      .row-div
        .col-div.headcol
          = header
        - @imd_aws_data.each do |imd_aws_datum|
          .col-div
            = imd_aws_datum.send(imd_aws_columns[index])
            &nbsp;

= paginate @imd_aws_data, :theme => 'twitter-bootstrap-3'