<p>
  Successfully parsed websites you can download attachments for websites
  <%= @website.parsed_websites.join(", ") %>
</p>

<table>
  <thead>
    <tr>
      <th>File Name</th>
      <th>Yesterday date</th>
      <th>Today date</th>
      <th>Yesterday row count</th>
      <th>Today row count</th>
      <th>Row count difference</th>
      <th>Yesterday column count</th>
      <th>Today column count</th>
      <th>Column count difference</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.file_name %></td>
        <td><%= report.yesterday_date %></td>
        <td><%= report.today_date %></td>
        <td><%= report.yesterday_row_count %></td>
        <td><%= report.today_row_count %></td>
        <% if report.row_count_difference < 0 %>
          <td style="color:red;"><%= report.row_count_difference %></td>
        <% else %>
          <td><%= report.row_count_difference %></td>
        <% end %>
        <td><%= report.yesterday_column_count %></td>
        <td><%= report.today_column_count %></td>
        <% if report.column_count_difference < 0 %>
          <td style="color:red;"><%= report.column_count_difference %></td>
        <% else %>
          <td><%= report.column_count_difference %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>