<p id="notice"><%= notice %></p>

<p>
  <strong>File Name:</strong>
  <%= @report.file_name %>
</p>

<p>
  <strong>Yesterday date:</strong>
  <%= @report.yesterday_date %>
</p>

<p>
  <strong>Today date:</strong>
  <%= @report.today_date %>
</p>

<p>
  <strong>Yesterday row count:</strong>
  <%= @report.yesterday_row_count %>
</p>

<p>
  <strong>Today row count:</strong>
  <%= @report.today_row_count %>
</p>

<p>
  <strong>Row Count Difference:</strong>
  <%= @report.row_count_difference %>
</p>

<p>
  <strong>Yesterday column count:</strong>
  <%= @report.yesterday_column_count %>
</p>

<p>
  <strong>Today column count:</strong>
  <%= @report.today_column_count %>
</p>

<p>
  <strong>Column Count Difference:</strong>
  <%= @report.column_count_difference %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
